In [ ]:
# Default Constractor
class Employee():
  pass

e1 = Employee()
print(e1)

<__main__.Employee object at 0x7cb562712cb0>

In [ ]:
# Default Constractor
class Student():

  def __init__(self):
    print("Hi ABF")

s1 = Student()
print(s1)

Hi ABF
<__main__.Student object at 0x7cb562713700>

Call Constractor

In [ ]:
# Parametarized Constractor
class Student():

  def __init__(self, name):
    self.name = name # instance variable

s1 = Student("ABF") # instance 1
print(s1.name)

s2 = Student("ABF 2") # instance 2
print(s2.name)

ABF
ABF 2

### Class Design

In [ ]:
# Parametarized Constractor
class Student():

  def __init__(self, name, id):
    self.name = name  # instance variable
    self.id = id      # instance variable

  def display(self):            # instance method
    print("Name:", self.name)
    print("ID:", self.id)

s1 = Student("ABF", 40)   # instance 1
s1.display()

s2 = Student("ABF2", 13) # instance 2
s2.display()

Name: ABF
ID: 40
Name: ABF2
ID: 13

First create object then call method!

In [ ]:
class House():

  def __init__(self):
    self.windows = 4  # instance variable
    self.doors = 2    # instance variable

  def view(self):
    print(self.windows, "Windows", self.doors, "Doors")

h1 = House()
h2 = House()

h1.view()
h2.view()

4 Windows 2 Doors
4 Windows 2 Doors

In [ ]:
class House():

  def __init__(self):
    self.windows = 4
    self.doors = 2

  def view(self):
    print(self.windows, "Windows", self.doors, "Doors")

h1 = House()
h2 = House()

h1.windows = 5  # change default
h2.doors = 3    # change default

h1.view()
h2.view()

5 Windows 2 Doors
4 Windows 3 Doors

In [ ]:
class Car():

  def __init__(self, name, model):
    self.name = name
    self.model = model
    self.wheel = 4

  def view(self):               # instance method
    print(self.name, self.model)
    print("It has default", self.wheel, "wheel")

c1 = Car("RR", 2017)
c1.view()

RR 2017
It has default 4 wheel

In [ ]:
c1.__dict__

{'name': 'RR', 'model': 2017, 'wheel': 4}

In [ ]:
dir(c1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'model',
 'name',
 'view',
 'wheel']

In [ ]:
class Dog():

  def __init__(self, name, color):
    self.name, self.color = name, color

  def update_color(self, color):
    self.color = color

  def view(self):
    print("Name:", self.name, ",", "Color:", self.color)

d1 = Dog("Tommy", "Brown")
d1.view()
d1.update_color("White")
d1.view()

Name: Tommy , Color: Brown
Name: Tommy , Color: White

In [ ]:
# Pass by Reference
class Cat():
  def __init__(self, color, action):
    self.color = color
    self.action = action

  def view(self):
    print("Color:", self.color, ",", "Action:", self.action)

  def compare(self, ct):
    if self.action == ct.action:
      print("Same action")
    else:
      print("Different action")

#============================================================================

c1 = Cat("White", "Eating")
c2 = Cat("Brown", "Rubbing")
c1.view()
c2.view()

c1.compare(c2)

Color: White , Action: Eating
Color: Brown , Action: Rubbing
Different action

In [ ]:
# Pass by value
class Cat():
  def __init__(self, color, action):
    self.color = color
    self.action = action

  def view(self, num, clr):
    num += 5
    clr1 = clr
    clr1[0] = "Green"
    print("Colors:", clr)
    print("Number:", num)

#============================================================================
colors = ["Black", "Red", "Yellow", "Blue"]
c1 = Cat("White", "Eating")
x = 55
c1.view(x, colors)
print("Method outside:", colors)
print("Method outside:", x)

Colors: ['Green', 'Red', 'Yellow', 'Blue']
Number: 60
Method outside: ['Green', 'Red', 'Yellow', 'Blue']
Method outside: 55

Here, <br>
x (pass by value), <br>
colors (pass by reference).

In [ ]:
# Problem 01

class Test3:
  def __init__(self):
    self.sum, self.y = 0, 0

  def methodA(self):
    x, y = 2, 3
    msg = [0]
    y = self.y + msg[0]
    self.methodB(msg, msg[0])
    x = self.y + msg[0]
    self.sum = x + y + msg[0]
    print(x, y, self.sum)

  def methodB(self, mg2, mg1):
    x = 0
    self.y = self.y + mg2[0]
    x = x + 33 + mg1
    self.sum = self.sum + x + self.y
    mg2[0] = self.y + mg1
    mg1 = mg1 + x + 2
    print(x, self.y, self.sum)

t3 = Test3()
t3.methodA()

33 0 33
0 0 0

### Methos Overloading
- Same name different parameters
- Python donot support methos overloading

In [ ]:
class my_calculator():

  def product(self, num1, num2):
    print(num1 * num2)
#----------------------------------------------

c1 = my_calculator()
c1.product(4, 5)

20

In [ ]:
# # run the code and understand the error
# class my_calculator():

#   def product(self, num1, num2):
#     print(num1 * num2)

#   def product(self, num1, num2, num3):
#     print(num1 * num2 * num3)
# #----------------------------------------------

# c1 = my_calculator()
# c1.product(4, 5)
# c1.product(4, 5, 3)

At a time two method didn't work!!!

In [ ]:
# Methos overloading achieve
class my_calculator():

  def product(self, num1=None, num2=None, num3=None):
    if num1 != None and num2 != None and num3 != None:
      print(num1 * num2 * num3)
    elif num1 != None and num2 != None:
      print(num1 * num2)
    else:
      print(1*num1)
#----------------------------------------------

c1 = my_calculator()
c1.product(4)
c1.product(4, 5)
c1.product(4, 5, 3)

4
20
60

All are working!!!

In [ ]:
# What if more than 3?
class my_calculator():

  def product(self, *nums):  # *nums takes all the numbers you provide
    sum = 1
    #print(nums)
    for i in nums:
      sum = sum * i
    print(sum)
#------------------------------------------------

c1 = my_calculator()
c1.product(4)
c1.product(4, 5, 6, 8)
c1.product(4, 5, 3, 2, 2)

4
960
240

In [ ]:
# Same name multiple methos but different parameers
from multipledispatch import dispatch

class my_calculator():

  @dispatch(int, int) # str / float
  def product(self, a, b):
    print(a * b)

  @dispatch(int, int, int)
  def product(self, a, b, c):
    print(a * b * c)
#====================================================

c1 = my_calculator()
c1.product(4, 5)
c1.product(4, 5, 3)

20
60

Same methods now working through @dispatch

### Operator Overloading: Comparison

In [ ]:
class Customer():
  def __init__(self, name, balance):
    self.name, self.balance = name, balance
#-----------------------------------------------------------

c1 = Customer("Rifat", 000)
c2 = Customer("Rifat", 000)
c1 == c2

False

In [ ]:
# Objec Equality
class Customer():
  def __init__(self, name, balance, id):
    self.name, self.balance = name, balance
    self.id = id
#-----------------------------------------------------------

c1 = Customer("Rifat", 000, 192040)
c2 = Customer("Rifat", 000, 192040)
c1 == c2

False

Variables are references!!!

In [ ]:
print(c1)
print(c2)

<__main__.Customer object at 0x7b7d844214b0>
<__main__.Customer object at 0x7b7d84422d10>

In [ ]:
# Overloading __eq__()

In [ ]:
class Customer():
  def __init__(self, id, name):
    self.id, self.name = id, name
# Will be called when == is used
  def __eq__(self, other):
    print("__eq__() is called")
    return (self.id == other.id) and (self.name == other.name)
#-----------------------------------------------------------------------

customer1 = Customer(123, "Maryam Azar")
customer2 = Customer(123, "Maryam Azar")
customer1 == customer2

__eq__() is called

True

### Operator overloading: string representation

In [ ]:
class Customer():
  def __init__(self, name, balance):
    self.name, self.balance = name, balance
  def __str__(self):
    cust_str = """
    Customer:
    name: {name}
    balance: {balance}
    """.format(name = self.name, balance = self.balance)

    return cust_str
#---------------------------------------------------------------------

cust = Customer("Maryam Azar", 3000)
print(cust)

    Customer:
    name: Maryam Azar
    balance: 3000

In [ ]:
class Customer():
  def __init__(self, name, balance):
    self.name, self.balance = name, balance
  def __repr__(self):
    # Notice the '...' around name
    return "Customer('{name}', {balance})".format(name = self.name, balance = self.balance)
#-----------------------------------------------------------------------------------------------------

cust = Customer("Maryam Azar", 3000)
cust

Customer('Maryam Azar', 3000)

### Operator Overloading +

In [ ]:
class data:
  def __init__(self, x):
    self.x = x

  def __add__(self, other):
    return self.x + other.x
#----------------------------------------------------------------------------

num1 = data(5)
num2 = data(6)
str1 = data("ABF")
str2 = data("Fourty")

print(num1 + num2)
print(str1 + str2)

11
ABFFourty

### Operator Overloading >

In [ ]:
class data:
  def __init__(self, x):
    self.x = x

  def __gt__(self, other):
    if(self.x > other.x):
      return True
    else:
      return False
#----------------------------------------------------------------------------

num1 = data(5)
num2 = data(6)

if (num1 > num2):
  print("num1 is grater than num2")
else:
  print("num2 is grater than num1")

num2 is grater than num1

### Operator Overloading <

In [ ]:
class data:
  def __init__(self, x):
    self.x = x

  def __lt__(self, other):
    if(self.x < other.x):
      return True
    else:
      return False
#----------------------------------------------------------------------------

num1 = data(5)
num2 = data(6)

if (num1 < num2):
  print("num1 is less than num2")
else:
  print("num2 is less than num1")

num1 is less than num2

### Operator Overloading ==

In [ ]:
class data:
  def __init__(self, x):
    self.x = x

  def __eq__(self, other):
    if(self.x == other.x):
      return True
    else:
      return False
#----------------------------------------------------------------------------

num1 = data(5)
num2 = data(6)

if (num1 == num2):
  print("num1 is equal to num2")
else:
  print("num2 is not equal to num1")

num2 is not equal to num1

In [ ]:
class data:
  def __init__(self, x):
    self.x = x

  # def __add__(self, other):
  #   return self.x + other.x
#===================================================

num1 = data(5)
num2 = data(6)
str1 = data("ABF")
str2 = data("Fourty")

print(num1 + num2)
print(str1 + str2)

TypeError: unsupported operand type(s) for +: 'data' and 'data'

In [ ]:
class data:
  def __init__(self, x):
    self.x = x

  def __add__(self, other):
    return self.x + other.x
#===================================================

num1 = data(5)
num2 = data(6)
str1 = data("ABF")
str2 = data("Fourty")

print(num1 + num2)
print(str1 + str2)

11
ABFFourty

In [ ]:
class House:
  def __init__(self, w, d):
    self.window = w
    self.door = d

  def view(self):
    print("The house has", self.window, "Windows", self.door, "Doors")

  def __add__(self, other):
    new_window = self.window + other.window
    new_door = self.door + other.door
    return "New house has " + str(new_window)+ " windows and "+ str(new_door) + " doors"
#========================================================================================

h1 = House(5, 3)
h2 = House(6, 4)

h1.view()
h2.view()
print(h1+h2) #h1.__add__(h2)

The house has 5 Windows 3 Doors
The house has 6 Windows 4 Doors
New house has 11 windows and 7 doors

Now I want to create a new obj to combine the 2 existing obj(h1, h2)

In [ ]:
class House:
  def __init__(self, w, d):
    self.window = w
    self.door = d

  def view(self):
    print("The house has", self.window, "Windows", self.door, "Doors")

  def __add__(self, other):
    new_window = self.window + other.window
    new_door = self.door + other.door
    obj = House(new_window, new_door)
    return obj
#========================================================================================

h1 = House(5, 3)
h2 = House(6, 4)
h3 = h1 + h2
h1.view()
h2.view()
h3.view()

The house has 5 Windows 3 Doors
The house has 6 Windows 4 Doors
The house has 11 Windows 7 Doors

# Encapsulation

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id

  def details(self):
    print("Name:", self.name, "ID:", self.id)
#======================================================

s1 = Student("Rifat", 192040)
s1.id = -888
s1.details()

Name: Rifat ID: -888

Encapsulation allows you to define controlled access to data stored inside objects of your class. This allows you to write clean, readable, and efficient code and prevent accidental changes or deletion of your class data.

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id)
#======================================================

s1 = Student("Rifat", 192040)
#s1.details()
print(s1.__id)

Name: Rifat ID: 192040

"__" do private. We couldn't access variable out of class.

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id)
#======================================================

s1 = Student("Rifat", 192040)
#s1.details()
s1.__id = -66
print(s1.__dict__)
s1.details()

{'name': 'Rifat', '_Student__id': 192040, '__id': -66}
Name: Rifat ID: 192040

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id)

  def updt_ID(self, id):
    if (id > 0):
      self.__id = id
    else:
      print("Invalid Id")
#======================================================

s1 = Student("Rifat", 192040)
s1.updt_ID(11)
s1.details()

Name: Rifat ID: 11

### Getter-setter(conventional method to updatae)

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id)

  def set_ID(self, id):
    if (id > 0):
      self.__id = id
    else:
      print("Invalid Id")

  def get_ID(self):
    return self.__id
#======================================================

s1 = Student("Rifat", 192040)
s2 = Student("ABF", 71)
s1.set_ID(242013)
s1.get_ID()
#s1.details()

242013

### Private method

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id)
    self.__method()

  def __method(delf):
    print("Private Method")
#======================================================

s1 = Student("Rifat", 192040)
s1.details()
#s1.__method()

Name: Rifat ID: 192040
Private Method

# Class or Static variable

In [ ]:
class Player:
  team_run = 0        #static or class variable

  def __init__(self, run):
    self.run = run

  def hit_four(self):
    self.run += 4
    Player.team_run += 4

  def hit_six(self):
    self.run += 6
    Player.team_run += 6
#=============================================


Sakib = Player(0)
Tamim = Player(0)

Tamim.hit_four()
Tamim.hit_four()
Sakib.hit_six()

print("Sakib", Sakib.run)
print("Tamim", Tamim.run)

#print("Tamim", Tamim.__dict__)
#print("Sakib", Sakib.__dict__)
print("Team Run:",Player.team_run)

Sakib 6
Tamim 8
Team Run: 14

In [ ]:
# Example 2
class Student:
  counter = 0

  def __init__(self, name, Id):
    self.name = name
    self.id = Id
    Student.counter += 1

  def details(self):
    print("Name:", self.name, "ID:", self.id,\
          "Student count:", Student.counter)
#==================================================================

s1 = Student("Billu", 12345)
s2 = Student("Killer", 23456)
s3 = Student("Miller", 34567)
s1.details()

Name: Billu ID: 12345 Student count: 3

# Method

- Instance Method
- Class Method
- Static Method

In [ ]:
class MyClass:
  def method(self):
    print(self, "instance method called")

  @classmethod
  def class_method(cls):
    print(cls, "class method called")

  @staticmethod
  def static_method(cls):
    print("class method called")

### Class Method

In [ ]:
class Student:
  uni_name = "KU"

  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id, Student.uni_name)

  @classmethod
  def up_uni_name(cls, u_name):
    #print("...")
    cls.uni_name = u_name

#===============================================================
s1 = Student("Rifat", 192040)
s2 = Student("ABF", 242013)
s2.details()
s1.details()
Student.up_uni_name("Khulna University")
s2.details()
s1.details()

Name: ABF ID: 242013 KU
Name: Rifat ID: 192040 KU
Name: ABF ID: 242013 Khulna University
Name: Rifat ID: 192040 Khulna University

In [ ]:
class Student:
  uni_name = "KU"

  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "ID:", self.__id, Student.uni_name)

  @classmethod
  def up_uni_name(cls, u_name):
    #print("...")
    cls.uni_name = u_name

  @classmethod
  def from_string(cls, info):
    name, Id = info.split("-")
    obj = cls(name, Id)
    return obj

#===============================================================
s1 = Student("Rifat", 192040)
s2 = Student.from_string("ABF-13")
s2.details()

Name: ABF ID: 13 KU

In [ ]:
class Student:
  uni_name = "KU"

  def __init__(self, name, id):
    self.name = name
    self.__id = id

  def details(self):
    print("Name:", self.name, "Id:", self.__id, Student.uni_name)

  @classmethod
  def up_uni_name(cls, u_name):
    cls.uni_name = u_name

  @staticmethod
  def check_department(id):
    if id[2:4] == "20": print("Statistics")
    elif id[2:4] == "19": print("Bangla")

  #================================================
s1 = Student("Bob", 11)
s2 = Student("Bal", 10)
s1.details()
Student.check_department("242013")

Name: Bob Id: 11 KU
Statistics

Static method is not necessarily related to obj. Its used for extra work.

# Inheritance

In [ ]:
# Single Inheritance
class Animal:

  def __init__(self, name):
    self.name = name

  def eat(self):
    print(self.name, "is eating")
#====================================================================

class Dog(Animal):

  def bark(self):
    print(self.name, "is barking")
#==================================================================

a1 = Animal("Jack")
d1 = Dog("Miki")
d1.bark()
d1.eat()
a1.eat()
#a1.bark()

Miki is barking
Miki is eating
Jack is eating

In [ ]:
print(isinstance(a1, Animal))
print(issubclass(Dog, Animal))
print(issubclass(Animal, Dog))

True
True
False

In [ ]:
class Student:

  def __init__(self, name, id):
    self.name = name
    self.id = id

  def details(self):
    print("Name:", self.name, "ID:", self.id)
#============================================================

class StatStudent(Student):
  def __init__(self, name, id, labs):
    super().__init__(name, id)
    self.no_of_labs = labs

  def cry(self):
    print("Stat student is crying because of", self.no_of_labs, "labs")
#================================================================

class BBAStudnet(Student):
  def formal(self):
    print("All day formal")
#==================================================================

s1 = StatStudent("Rifat", 242013, 2)
s2 = BBAStudnet("Vod", 123456)
s1.details()
s1.cry()
s2.formal()
print(help(s2))

Name: Rifat ID: 242013
Stat student is crying because of 2 labs
All day formal
Help on BBAStudnet in module __main__ object:

class BBAStudnet(Student)
 |  BBAStudnet(name, id)
 |
 |  Method resolution order:
 |      BBAStudnet
 |      Student
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  formal(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Student:
 |
 |  __init__(self, name, id)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  details(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Student:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [ ]:
# Multilevel Inheritance
class Student:

  def __init__(self, name, id):
    self.name = name
    self.id = id

  def details(self):
    print("Name:", self.name, "ID:", self.id)
#============================================================

class StatStudent(Student):
  def __init__(self, name, id, labs):
    super().__init__(name, id)
    self.no_of_labs = labs

  def cry(self):
    print("Stat student is crying because of", self.no_of_labs, "labs")
#=========================================================================

class StatFresher(StatStudent):

  def enroll_stat1112(self):
    print("Stat-1112")
#=========================================================================

s1 = StatStudent("Rifat", 13, 2)
s2 = StatFresher("ABF", 40, 1)
s2.details()
s1.details()
s2.cry()
s2.enroll_stat1112()

Name: ABF ID: 40
Name: Rifat ID: 13
Stat student is crying because of 1 labs
Stat-1112

In [ ]:
# Multiple Inheritance(multiple parents)
class A:
  def __init__(self):
    print("__init__ of class A")

  def method1(self):
    print("method1 of class A")
#====================================================

class B:
  def __init__(self):
    print("__init__ of class B")

  def method1(self):
    print("method1 of class B")
#====================================================

class C(A, B): #left to right
  def __init__(self):
    #super().__init__()
    #B.__init__(self)
    print("__init__ of class C")

  def method2(self):
    print("method2 of class C")
#====================================================

c1 = C()
c1.method1()
c1.method2()
B.method1(c1)

__init__ of class C
method1 of class A
method2 of class C
method1 of class B

# Inheritance (Variable Overriding)

In [ ]:
# Inheritance (Variable Overriding)
class Animal:

  def __init__(self, name):
    self.name = name
    self.color = "black"

  def eat(self):
    print(self.name, "is eating")
#===========================================

class Dog(Animal):

  def __init__(self, name, color):
    super().__init__(name)
    self.color = color

  def bark(self):
    print(self.name, "is barking")
#================================================================

a1 = Animal("Jack")
d1 = Dog("Miki", "White")
print(d1.__dict__)
# d1.bark()
# d1.eat()
# a1.eat()

{'name': 'Miki', 'color': 'White'}

# Inheritance (Method Overriding)

In [ ]:
class A:  #Parent class

  def __init__(self):
    print("A")

  def method1(self):
    print("Always Study")

  def method2(self):
    print("Always Work on the Street")
#====================================================

class B(A):   #child class

  def __init__(self):
    pass
    #super().__init__()
    #print("B")

  def method1(self):
    print("Always Work")
#====================================================

b1 = B()
b1.method1()
b1.method2()
#

Always Work
Always Work on the Street

# __str__()

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id

  def __str__(self):
    return "Name: " + self.name + " ID: " + str(self.id)
#===============================================================

s1 = Student("Rifat", 192040)
print(s1)
print(s1.__str__())

Name: Rifat ID: 192040
Name: Rifat ID: 192040

# Composition | Has-A relationship

In [ ]:
class Engine:
  def __init__(self, cc):
    self.capacity = cc

  def start(self):
    print("Engine is starting")

  def stop(self):
    print("Engine is stopping")
#================================================================

# class Car(Engine):
class Car():
  def __init__(self, name, cc):
    #super().__init__(cc)
    self.name = name
    self.engine = Engine(cc)

  # def start(self):
  #   self.engine.start()

  # def stop(self):
  #   self.engine.stop()

  def run(self):
    print("Car is running")
#===================================================

c1 = Car("Honda", cc=1000)
c1.run()
c1.engine.start()
c1.engine.stop()

Car is running
Engine is starting
Engine is stopping

# Abstract class and method

In [1]:
from abc import ABC, abstractmethod

class Shape(ABC):
  @abstractmethod
  def area(self):
    pass

  @abstractmethod
  def perimeter(self):
    pass
#================================================================

class Rectangle(Shape):
  def __init__(self, l, b):
    self.length = l
    self.breadth = b

  def area(self):
    print("Area:", self.length * self.breadth)

  def perimeter(self):
    print("Perimeter:", 2 * (self.length + self.breadth))
#================================================================

r1 = Rectangle(10, 20)
r1.area()
r1.perimeter()

Area: 200
Perimeter: 60